#main{
	background-color: #85D8AE;
	padding:100px;
	text-align: center;
	height: 200px; 
}


.content_wrapper{
	text-align: center;
	margin: 300px auto;
	width: 500px;
	height: 50px;
}

.circle{
	border-radius: 125px;
	height: 125px;
	width: 125px;
	background-color: white;
	margin-left: 20px;
	display: inline-block;

}

#c1{
margin-right: 50px;
}

#c2{
margin-right: 50px;
}

#arrow{
	z-index: 2;
margin: 30px;

}

#image{
	height: 40px;
	width: 60px;
}

#arrowcircle{
	border-radius: 800px;
	height:75px;
	width:75px;
	background-color: #FFF7F8;
	margin: -92px auto;
}

#greysquare{
	background-color: #D7D7D7;
	height: 250px;
	width: 500px;
	margin: 250px auto;

} 

#yukio{
	color: white;
}

#yukio2{
	color: white;
}


